<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="col-md-6 offset-3">
    <div class="card">
        <div class="card-header" >Authentication</div>
        <div class="card-body">
            <form method="post" th:action="@{/login}">
                <div>
                    <label for="username">Username</label>
                    <input id="username" placeholder="username" class="form-control" type="text" name="username" >
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" placeholder="password" class="form-control" type="text" name="password" >
                </div>
                <div>
                    <label class="form-check-label">Remember Me</label>
                    <input class="form-check-input" type="checkbox" name="remember-me" >
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>